# venv
.venv

# .cursor
.cursor/
.cursorignore

# .DS_Store
.DS_Store

# .python-version
.python-version

# __pycache__
__pycache__

# jupyter
*.ipynb

# test files
test_*.py
!src/annotator/tests/*.py

# test reports
src/annotator/tests/reports/

# Python package development
*.egg-info/
build/
dist/
*.egg

# directories
configs/*

# Coverage reports
.coverage
coverage.xml
htmlcov/

# *.json
*.json

